body {
	margin: 0;
	font-family: "PTSanas", Arial, sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #ffffff;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #000000;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
	background-color: #ffffff;
}

.site-navigation a:active {
	color: #766357;
	background-color: #ffffff;
}

.site-navigation .current-item {
	color: #766357;
	background-color: #ffffff;
}

.promo {
	background-color: #ffffff;
	background-image: url("../img/background-photo.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.promo p {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.advantage {
	text-align: center;
	line-height: 26px;
	color: #333333;
	background-color: #ffffff;
}

.appointment h2 {
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.questions {
	text-align: center;
	line-height: 24px;
	color: #333333;
	background-color: #ffffff;
}

.appointment .appointment-search {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
}

.search-hotel-form input[type="text"] {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #f2f2f2;
	border: 0px;
	text-transform: uppercase;
}

.search-hotel-form label {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
	
}

button {
	font: inherit;
	text-align: center;
	vertical-align: middle;
	border: none;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #23c4ee;
}

footer a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

footer li {
	color: #ffffff;
	background-color: #000000;
}

footer .copywrite {
	text-align: center;
	color: #000000;
	background-color: #ffffff;	
	line-height: 26px;
}

.copywrite span {
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.copywrite a {
	background-image: url("img/logo-htmlacademy.svg");
	background-repeat: no-repeat;
	background-position: 0;
}



.hotel {
	list-style: none;
}

.hotel img {
	background-color: #000000;
}

.content h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.content .type,
.content .price {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	background-color: #ffffff;
}

.content .button-info {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	background-color: #81b3d2;
}

.content .button-reserve {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	background-color: #766357;
}

.hotel .hotel-rating-value {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}