
body {
	margin: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #f2f2f2;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Стилизация шрифтов и фонов index.html*/

.site-navigation {
	list-style: none;
}

.site-navigation a {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
	background-color: #ffffff;
}

.site-navigation a:active {
	color: #766357;
	background-color: #ffffff;
}

.site-navigation .current-item {
	color: #766357;
	background-color: #ffffff;
}

.intro {
	background-color: #ffffff;
	background-image: url("../img/background-photo.jpg");
	background-position: 100% 27%;
	background-repeat: no-repeat;
	background-size: 100%;
}

.promo .title {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.promo .resons {
	text-align: center;
	line-height: 26px;
	color: #333333;
	background-color: #ffffff;
}

.appointment h2 {
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.appointment-title {
	text-align: center;
	line-height: 24px;
	color: #333333;
	background-color: #ffffff;
}

.appointment-search a {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
}

.appointment-search a:hover,
.appointment-search a:focus {
	color: #ffffff;
	background-color: #604e43;
}

.appointment-search a:active {
	color: #928a85;
	background-color: #503e33;
}

.search-hotel-form input {
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	border: 0px;
	color: #000000;
	background-color: #f2f2f2;
}

.search-hotel-form input:hover,
.search-hotel-form input:active {
 	color: #000000;
 	background-color: #ebebeb;
}

.search-hotel-form input:focus {
	outline: none;
	border: 2px solid #e5e5e5;
	color: #000000;
	background-color: #ffffff;
}

.search-hotel-form label {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.button-search {
	text-align: center;
	vertical-align: middle;
	border: none;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #81b3d2
}

.button-search:hover,
.button-search:focus {
	color: #ffffff;
	background-color: #669ec0;
}

.button-search:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.heshtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.social-button a {
	color: #ffffff;
	background-color: #000000;
}

.copywrite span {
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.copywrite a {
	background-image: url("img/logo-htmlacademy.svg");
	background-repeat: no-repeat;
	background-position: 0;
}

/* Стилизация шрифтов и фонов catalog.html*/

.hotel {
	list-style: none;
}

.hotel img {
	background-color: #000000;
}

.name-hotel a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.name-hotel a:hover,
.name-hotel a:focus {
	color: #81b3d2;
	background-color: #ffffff;
}

.name-hotel a:active {
	color: #cacaca;
	background-color: #ffffff;
}

.type,
.price {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	background-color: #ffffff;
}

.button-info {
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
	color: #ffffff;
	background-color: #669ec0;
}

.button-info:active {
	color:#94b9d2;
	background-color: #5496bd;
}

.button-reserve {
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	background-color: #766357;
}

.button-reserve:hover,
.button-reserve:focus {
	color: #ffffff;
	background-color: #604e43;
}

.button-reserve:active {
	color: #928a85;
	background-color: #503e33;
}

.hotel-rating-value {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}

/* Сеточные стили index.html*/

.container {
	margin: 0 auto;
	background-color: #f2f2f2;
	width: 1200px;
	box-shadow: 0 0 15px 5px #dbdbdb;
}

.main-header {
	margin: 0;
}

.wrapper {
	width: 1056px;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 0 0;
}

.main-nav {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	min-height: 56px;
	margin: 0;
}

.main-header-logo {
	position: absolute;
	order: 3;
	align-self: center;
	width: 140px;
	height: 71px;
}	

.site-navigation {
	list-style: none;
	background-color: #ffffff;
	display: flex;
	padding: 0;
	margin: 0;
}

.site-navigation li {
	margin-top: 13px;
	width: 240px;
	display: block;
	padding: 0;
}

.site-navigation li:nth-child(3) {
	margin-left: 96px;
	text-align: right;
}

.site-navigation li:nth-child(4) {
	text-align: right;
}

.intro {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 567px;
}

.intro img {
	margin-top: 76px;
	margin-bottom: 0;
	padding: 0;
}

.promo {
	background-color: #ffffff;
	min-height: 155px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.promo .title {
	width: 575px;
	min-height: 60px;
	margin: 0;
	padding: 0;
}

.promo .resons {
	width: 575px;
	margin: 0;
	padding-top: 19px;
}

.advantage {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.advantage-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	min-height: 256px;
	text-align: center;
}

.item-product {
	min-height: 330px;
}

.item-product .advantage-item-title {
	width: 120px;
	margin-top: 47px;
}

.item-product .number {
	margin-top: 26px;
	
}

.advantage-item-image {
	width: 75px;
	height: 72px;
	margin-top: 60px;
	margin-bottom: 0px;
}

.advantage-item-title {
	color: #000000;
	line-height: 21px;
	font-size: 21px;
	font-weight: 700;
	width: 200px;
	margin-top: 30px;
	margin-bottom: 0;
}

.item-content {
	width: 285px;
}

.item-first-line {
	background-color: #81b3d2;
	color: #ffffff;
	width: 100%;
	padding-right: 800px;
	position: relative;
}

.item-first-line .advantage-item-title {
	color: #ffffff;
	width: 150px;
	line-height: 21px;
	font-size: 21px;
	font-weight: 700;
	margin-top: 48px;
	margin-bottom: 0;
}

.item-first-line .number {
	margin-top: 24px;
	margin-bottom: 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

}

.item-first-line .item-content {
	color: #ffffff;
	margin-top: 22px;
	font-size: 14px
	line-height: 21px;
	font-weight: 400;
}

.item-first-line:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 800px;
	height: 100%;
	background-image: url("../img/first-line.jpg");
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.item-second-line {
	background-color: #81b3d2;
	color: #ffffff;
	width: 100%;
	padding-left: 800px;
	position: relative;
}

.item-second-line .advantage-item-title {
	color: #ffffff;
	width: 160px;
	line-height: 21px;
	font-size: 21px;
	font-weight: 700;
	margin-top: 48px;
	margin-bottom: 0;
}

.item-second-line .number {
	margin-top: 24px;
	margin-bottom: 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

}

.item-second-line .item-content {
	color: #ffffff;
	width: 308px;
	margin-top: 22px;
	font-size: 14px
	line-height: 21px;
	font-weight: 400;
}

.item-second-line:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 100%;
	background-image: url("../img/second-line.jpg");
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.appointment {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	min-height: 60px;
	margin: 0;
	padding-top: 49px;
}

.resons {
	margin: 0;
}

.appointment-title {
	min-height: 95px;
	margin: 0;
}

.modal {
	background-color: #ffffff;
	min-height: 557px;
}

.modal .appointment-search {
	margin: 0 auto;
	padding: 21px 0 30px 0;
	width: 568px;
	display: block;
	background-color: #766357;
	text-align: center;
}

.search-hotel-form {
	width: 568px;
	min-height: 395px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 56px;
}

.search-item {
	margin: 0 0 30px 0;
	display: flex;
}

.search-item label {
	display: block;
	width: 92px;
	padding: 5px 0 5px 0;
	margin-right: 22px;
}

.search-item input {
	height: 35px;
	width: 342px;
	padding-left: 11px;
}

.search-wrapper {
	display: flex;
	justify-content: space-between;
	height: 37px;
	margin-bottom: 56px;
}

.search-item-bottom {
	display: flex;
	margin: 0;
}

.search-item-bottom label {
	display: block;
	float: left;
	width: 93px;
	padding: 5px 0 5px 0;
}

.search-item-bottom input {
	height: 35px;
	width: 113px;
	text-align: center;
}

.search-item-bottom:nth-child(1) label {
	width: 111px;
}

.search-item-bottom:nth-child(2) label {
	box-sizing: border-box;
	padding-left: 29px;
}

input::-webkit-input-placeholder { 
	color: #000000;
}

.button-search {
	width: 458px;
	height: 58px;
	text-transform: uppercase;
}

/* Сеточные стили catalog.html */

.main-filter {
	min-height: 303px;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: 100% 20%;
}

.hotel-list {
	min-height: 454px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

.hotel {
	display: flex;
	min-height: 150px;
	border-top: 1px solid #e5e5e5;
}

.hotel-wrapper {
	display: flex;
	width: 1056px;
	min-height: 97px;
	background-color: #ffffff;
	margin: auto auto 32px auto;
}

.hotel:nth-child(3) {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.product-page {
	width: 135px;
	height: 90px;
	margin-top: auto;
	margin-bottom: 0;
	margin-right: 30px;
}

.content {
	display: flex;
	flex-direction: column;
	width: 277px;
	min-height: 92px;
	margin-bottom: 0;
	margin-top: auto;
}

.content-wrapper {
	display: flex;
}

.content-info {
	display: flex;
	flex-direction: column;
	margin-right: 8px;
}

.content-reserve {
	display: flex;
	flex-direction: column;
}

.name-hotel {
	margin: 0;
}

.content-wrapper {
	padding-top: 8px;
	margin: 0;
}

.button-info {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-top: 13px;
	padding: 5px 16px;
}

.button-reserve {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 5px 16px;
	margin-top: 13px
}

.rating {
	width: 241px;
	margin-right: 0;
	margin-left: auto;
}

.hotel-rating-value {
	display: block;
	padding: 6px 4px 4px 15px;
	width: 92px;
	margin-top: 66px;
	margin-left: auto;
}

.main-footer {
	margin: 0;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.heshtag {
	width: 400px;
	margin-top: 47px;
	margin-left: 8px;
	text-align: center;
}

.social-icons-list {
	list-style: none;
	width: 400px;
	display: flex;
	justify-content: center;
}

.copywrite {
	width: 400px;
}

.copywrite a {
	margin-right: 5px;
}
